/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#user_audio {
  width: 167px;
}

#favorite_button, #remove_button {
  display: inline;
}

h4 {
  margin: 12px;
}

.edit_user {
    padding-left: 10px;
    padding-right: 10px;
    width: 167px;
    display: inline;
}

.next_page {
  padding-left: 20px;
}

.title {
  text-align: center;
}

.active {
  background-color: rgb(105, 148, 185);
}

.errors {
  color: red;
}

.message {
  color: #41adff;
}

.search-submit {
  background-color: ##324759;
  padding-left: .8em;
  padding-right: .8em;
  align-items: flex-end;
  margin: 0;
}

.ui.icon.input>input {
  padding-right: 14px!important;
}

::-webkit-scrollbar-thumb {
    background: #bbc5cc;
}

.ui.menu .item {
  color: #41adff;
}

.ui.secondary.menu a.item:hover {
    background: rgba(0,0,0,.25);
    color: #4183c4;
}

.ui.secondary.menu .item {
  align-self: flex-end;
}

div.ui.two.column.very.relaxed.grid {
  color: #000;
  background-color: #bbc5cc;
}

input[type="submit" i] {
  padding: 10;
  align-self: flex-end;
}

.ui.basic.secondary.button:hover {
  background-color: #7b2222!important;
}

.ui.basic.secondary.button:focus {
  background-color: #671e1e!important;
}

form.button_to {
  display: inline-block;
}

input.ui.primary.basic.button {
  color: #114b77;
  background-color: #fff!important;
}

input.ui.secondary.basic.button {
  display: inline-block;
  background-color: #b33939!important;
}

input.ui.disabled.button {
  display: inline-block;
  background-color: rgb(224, 225, 226);
}
