<h2 class="title">favigames</h2>
<% if session[:user_id] %>
 <%= render 'layouts/navbar' %>

<% else %>
<div class="ui secondary  menu">
  <div class="right menu">
    <%= link_to 'Sign Up', new_user_path, method: :get, class: 'item' %>
    <%= link_to 'Log In', new_session_path, method: :get, class: 'item' %>
  </div>
</div>
<% end %>
<hr>
<%= render 'layouts/errors' %>
